@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root{
      --primary: #AA845A;
      --bg: #010101;
      --main-color: #AA845A;
      --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
      --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
      --border: .2rem solid var(--main-color);
      --border-hover: .2rem dashed var(--main-color);
}

*{
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      outline: none;
      border: none;
      text-decoration: none;
      text-transform: capitalize;
      transition: all .2s linear;
}

html
{
      scroll-behavior: smooth;
}

body{
      font-family: 'Tilt Neon', sans-serif;
      background-color:var(--bg);
      color:#fff;
}
.heading {
      font-size: 9rem;
      text-transform: uppercase;
      color: transparent;
      -webkit-text-stroke: .05rem var(--main-color);
      letter-spacing: .2rem;
      text-align: center;
      pointer-events: none;
      position: relative;
  }
  
  .heading span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      color: var(--main-color);
      font-size: 3rem;
  }
  
#scroll-up-btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      background-color: #AA845A;
      cursor: pointer;
      font-size: 14px;
      text-align: center;
      padding: 0;
  }
  
  #scroll-up-btn:hover {
      background-color: #ffad06;
  }
  
  #scroll-up-btn i {
      color: white;
      line-height: 40px;
  }


/* Navbar */
.navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.4rem 7%;
      background-color: rgba(1, 1, 1, 0.95);
      border-bottom:1px solid #b6895b;
      position: fixed;
      top:0;
      left:0;
      right:0;
      z-index:9999;
  }
  
  .navbar .navbar-logo{
      font-size:2rem;
      font-weight:700;
      color:#fff;
      font-style:italic;
  }
  
  .navbar .navbar-logo span{
      color:var(--primary);
  }
  
  .navbar .navbar-nav a {
      color:#fff;
      display: inline-block;
      font-size:1.3rem;
      margin:0 1rem;
  }
  
  .navbar .navbar-nav a:hover{
      color:var(--primary);
  }
  
  .navbar .navbar-nav a::after{
      content:'';
      display:block;
      padding-bottom: 0.5rem;
      border-bottom:0.1rem solid var(--primary);
      transform:scaleX(0);
      transition:0.2s linear;
  }
  
  .navbar .navbar-nav a:hover::after{
      transform:scaleX(0.5);
  }
  
  .navbar .navbar-extra a {
      color: #fff;
      margin:0 0.5rem;
  }
  
  .navbar .navbar-extra :hover{
      color:var(--primary);
  
  }
  
  .navbar-extra {
      display: flex;
      align-items: center;
  }
  
  #user-button {
      display: flex;
      align-items: center;
  }
  
  #login-button {
      display: flex;
      align-items: center;
  }

/* Hero Section */
.hero{
      min-height: 100vh;
      display: flex;
      align-items: center;
      background-image: url('../images/header.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position:center;
      position:relative;
      -webkit-mask-image:linear-gradient(rgba(0,0,0,1) 90%, rgba(0,0,0,0));
      mask-image:linear-gradient(rgba(0,0,0,1) 85%, rgba(0,0,0,0));
}

/* .hero::after{
      content:'';
      display:block;
      position: absolute;
      width: 100%;
      height:30%;
      bottom: 0;
      background:linear-gradient(0deg, rgba(1,1,3,1) 8% rgba(255, 255, 255, 0) 50%);
} */

.hero .content
{
      padding: 1.4rem 7%;
      width: 100%;
      text-align:center;
      position: fixed;
      top:100px;
}

.hero .content h1
{
      color: #fff;
      text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
      line-height:1.2;
}

.hero .content h1 span {
      color: var(--primary);
}

.hero .content p {
     font-size: 1.6rem;
     margin-top: 1rem;
     line-height: 1.4;
     font-weight: 100;
     text-shadow:1px 1px 3px rgba(1,1,3,0.5);
     mix-blend-mode: difference;
}

.hero .content .cta{
      margin-top:1rem;
      display:inline-block;
      padding: 1rem 3rem;
      font-size: 1.4rem;
      color:#fff;
      background-color:var(--primary);
      border-radius: 0.5rem;
      box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/*About */
.about{
      padding: 10rem 7% 1.4rem;
}

.about h2, .menu h2, .products h2, .contacts h2{
      text-align: center;
      font-size: 2.6rem;
      margin-bottom: 3rem;
}

.about h2 span, .menu h2 span, .products h2 span, .contact h2 span {
      color: var(--primary);
}

.about .row{
      display: flex;
}

.about .row .about-img
{
      flex: 1 1 45rem;
}

.about .row .about-img img{
      width:100%;
      -webkit-mask-image:url('../images/splat.svg');
      -webkit-mask-size:50%;
      -webkit-mask-repeat:no-repeat;
}

.about .row .content{
      flex: 1 1 35rem;
      padding: 0 1 rem;
}

.about .row .content h3{
      font-size: 1.8rem;
      margin-bottom: 1rem;
}

.about .row .content p{
      margin-bottom: 0.8rem;
      font-size: 1.3rem;
      font-weight: 100;
      line-height: 1.6;
}

/* MENU */
  .menu .box-container {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
  }
  
  .menu .box-container .box {
      flex: 1 1 42rem;
      padding: 2rem;
      border: var(--border);
      border-radius: var(--border-radius);
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin-left: 6rem;
  }
  
  .menu .box-container .box:hover {
      border: var(--border-hover);
      border-radius: var(--border-radius-hover);
  }
  
  .menu .box-container .box img {
      height: 8rem;
      margin-left: -6rem;
  }
  
  .menu .box-container .box .content h3 {
      font-size: 2.2rem;
      color: var(--main-color);
      line-height: 1.8;
  }
  
  .menu .box-container .box .content p {
      font-size: 1.6rem;
      color: var(--main-color);
      line-height: 1.8;
      padding: 1rem 0;
  }
  
  .menu .box-container .box .content span {
      font-size: 2rem;
      color: var(--main-color);
      line-height: 1.8;
  }
  

/*Feedback Section */
.feedback .row{
      margin-top: 2rem;
}

.feedback .row .map {
      flex: 1 1 45rem;
      width:100%;
      object-fit:cover;
}

.feedback .row form {
      flex: 1 1 45rem;
      padding: 5rem 2rem;
      text-align: center;
}

.feedback .row form .input-group{
      display:flex;
      align-items:center;
      margin-top:2rem;
      background-color:var(--bg);
      border: 1px solid #eee;
      padding-left: 2rem;
}

.feedback .row form .input-group input{
      width:100%;
      padding:2rem;
      font-size:1.7rem;
      background:none;
      color:#fff;
}

.feedback .row form .btn{
      margin-top: 3rem;
      display: inline-block;
      padding: 1rem 3rem;
      font-size: 1.7rem;
      color:#fff;
      background-color:var(--primary);
      cursor:pointer;
}

/* Footer */
.footer {
      background-color:  #111111;
}

.footer .box-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
      gap: 6.5rem;
  }
  
  .footer .box-container .box h3 {
      font-size: 2.5rem;
      padding: 1rem 0;
      color: var(--main-color);
  }
  
  .footer .box-container .box a {
      display: block;
      font-size: 1.5rem;
      padding: 1rem 0;
      color: var(--main-color);
  }
  
  .footer .box-container .box a i {
      padding-right: .5rem;
  }
  
  .footer .box-container .box a:hover i {
      padding-right: 2rem;
  }
  
  .footer .credit {
      text-align: center;
      font-size: 2rem;
      padding: 2rem 1rem;
      margin-top: 1rem;
      color: var(--main-color);
  }
  
  .footer .credit span {
      border-bottom: var(--border-hover);
  }

/* Media Queries */
/* Laptop */
@media (max-width: 1366px)
{
      html
      {
            font-size:75%;
      }
}

/* Tablet */
@media (max-width: 758px)
{
      html
      {
            font-size:62.5%;
      }

      #hamburger-menu
      {
            display:inline-block;
      }

      .navbar .navbar-nav
      {
            position:absolute;
            top:100%;
            right: -100%;
            background-color:#fff;
            width:30rem;
            height:100vh;
            transition:0.3s;
      }

      .navbar .navbar-nav .active
      {
            right:0;
      }

      .navbar .navbar-nav a
      {
            color:var(--bg);
            display:block;
            margin:1.5rem;
            padding:.5rem;
            font-size:2rem;
      }

      .navbar .navbar-nav a:hover::after{
            transform: scaleX(0.2);
      }

      .navbar .search-form
      {
            width:90%;
            right:2rem;

      }

      .about .row {
            flex-wrap:wrap;
      }

      .about .row .about-img img{
            height: 24rem;
            object-fit: cover;
            object-position: center;
      }

      .about .row .content{
            padding: 0;
      }

      .about .row .content h3{
            font-size: 1.6rem;
      }

      .menu p {
            font-size: 1.2rem;
      }

      .contact .row{
            flex-wrap: wrap;
      }

      .contact .row .map{
            height:30rem;
      }

      .contact .row form{
            padding-top:0;
      }

      .modal-content
      {
            flex-wrap:wrap;
      }
}

/* Mobile Phone */
@media (max-width: 450px)
{
      html
      {
            font-size:55%;
      }
}